table {
  width: 80%;
}

.filter-input {
  width: 99%;
  margin-top: 10px;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  button {
    margin: 0 10px;
  }
}

.active {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 100%;
}

.inactive {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
}

.male {
  color: blue;
}

.female {
  color: rgb(222, 167, 176);
}
