<div class="title">
  @if (user.status === 'active') {
  <div class="active"></div>
  } @if (user.status === 'inactive') {
  <div class="inactive"></div>
  }
  <h1 mat-dialog-title>{{ user.name }}</h1>
</div>
<mat-dialog-content>
  <div class="detail">
    <h3>Email:</h3>
    <p>{{ user.email }}</p>
  </div>
  <div class="detail">
    <h3>User ID:</h3>
    <p>{{ user.id }}</p>
  </div>
  <div class="detail">
    <h3>Gender:</h3>
    <p>{{ user.gender }}</p>
  </div>
  <div class="detail">
    <h3>Number of post:</h3>
    <p>{{ posts.length }}</p>
  </div>

  @if (posts.length > 0) { @for (post of posts; track $index) {
  <div class="post-container">
    <div class="post-container-title">
      <h2>{{ post.title }}</h2>
      <button mat-icon-button (click)="onDeletePost(post.id)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <p>{{ post.body }}</p>
    <mat-divider></mat-divider>
    @for (comment of comments; track $index; let f = $first) { @if
    (comment.post_id === post.id) { @if (f) {
    <button mat-button (click)="revealComments = !revealComments">
      @if (!revealComments) {See comments} @else {Hide comments}
    </button>
    } @if (revealComments) {
    <div class="comment">
      <div class="comment-user">
        <mat-icon>person</mat-icon>
        <p>
          <strong>{{ comment.name }}</strong>
        </p>
      </div>
      <p>{{ comment.body }}</p>
    </div>
    } } }
  </div>
  } }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Back</button>
</mat-dialog-actions>
