<div class="title">
  @if (user.status === 'active') {
  <div class="active"></div>
  } @if (user.status === 'inactive') {
  <div class="inactive"></div>
  }
  <h1 mat-dialog-title>{{ user.name }}</h1>
</div>
<mat-dialog-content>
  <div class="detail">
    <h3>Email:</h3>
    <p>{{ user.email }}</p>
  </div>
  <div class="detail">
    <h3>User ID:</h3>
    <p>{{ user.id }}</p>
  </div>
  <div class="detail">
    <h3>Gender:</h3>
    <p>{{ user.gender }}</p>
  </div>
  <div class="detail">
    <h3>Number of post:</h3>
    <p>{{ posts.length }}</p>
  </div>

  @if (posts.length > 0) { @for (post of posts; track $index) {
  <div class="post-container">
    <h2>{{ post.title }}</h2>
    <mat-divider></mat-divider>
    <p>{{ post.body }}</p>
    @if (!revealComments) {
    <div class="post-container-button">
      <button mat-button (click)="seeComments(post.id)">See comments</button>
    </div>
    } @if (revealComments) {
    <div class="post-container-button">
      <button mat-button (click)="revealComments = false">Hide comments</button>
    </div>
    @for (comment of comments; track $index) {
    <div class="comment">
      <mat-divider></mat-divider>
      <h3>
        <strong>{{ comment.name }}</strong> - {{ comment.email }}
      </h3>
      <p>{{ comment.body }}</p>
    </div>
    } }
  </div>
  } }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Back</button>
</mat-dialog-actions>
