<mat-toolbar>
  <span>IMPROVE</span>
  <span class="example-spacer"></span>
  <a routerLink="login"
    ><button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      color="primary"
    >
      <mat-icon>login</mat-icon>
    </button></a
  >
  <a routerLink="signup"
    ><button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      color="primary"
    >
      <mat-icon>person_add</mat-icon>
    </button></a
  >
  <a routerLink="homepage"
    ><button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      color="primary"
    >
      <mat-icon>forum</mat-icon>
    </button></a
  >
  <a routerLink="contacts"
    ><button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      color="primary"
    >
      <mat-icon>group_search</mat-icon>
    </button></a
  >
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    color="warn"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
