<div class="full-page">
  <div class="title">
    <h1>Welcome to <strong>IMPROVE</strong></h1>
    <p>
      This application aims to improve the lives of people in urban centers, so
      that cities are increasingly centers for new ideas, for trade, culture,
      science, productivity, social development.
    </p>
  </div>
  <div class="login-container">
    <h1>Login</h1>
    <a href="https://gorest.co.in/consumer/login"
      ><p class="first-authentication">
        To get your access token you must first authenticate on the GoRest
        platform
      </p></a
    >
    <form class="example-form" [formGroup]="loginFormControl">
      <mat-form-field class="example-full-width">
        <mat-label>Token</mat-label>
        <input
          class="token-input"
          type="token"
          matInput
          formControlName="tokenControl"
        />
        @if (loginFormControl.hasError('required')) {
        <mat-error>Token is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        (click)="onLogin()"
        [disabled]="!loginFormControl.valid"
      >
        Login
      </button>
    </form>
  </div>
</div>
