<div class="full-page">
  <div class="login-container">
    <h1>Sign-up</h1>
    <form class="example-form" [formGroup]="signupForm">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input name="name" matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input name="email" type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="example-full-width">
        <mat-label>Token</mat-label>
        <input name="token" matInput formControlName="token" />
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        (click)="onSubmit(signupForm)"
        [disabled]="!signupForm.valid"
      >
        Sign-up
      </button>
    </form>
  </div>
</div>
